@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4789A3;
}

* {
  font-family: "Outfit", sans-serif;
}

@layer utilities {
  .animate-kenburns {
    animation: kenburns 5s ease-in-out forwards;
  }
  @keyframes kenburns {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.2) translate(-20px, -10px); }
  }
}